{
  "extends": [
    "@commitlint/config-angular"
  ],
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "build",
        "ci",
        "docs",
        "site",
        "feat",
        "fix",
        "perf",
        "refactor",
        "revert",
        "style",
        "test",
        "chore"
      ]
    ],
    "header-max-length": [
      2,
      "always",
      100
    ]
  }
}
