{
  "extends": ["egg", "prettier"],
  "globals": {
    "_": true,
    "window": true,
    "document": true,
    "Image": true,
    "Event": true,
    "HTMLElement": true,
    "ImageData": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": ["warn", "error", "dir", "time", "timeEnd"]
      }
    ],
    "experimentalDecorators": [0],
    "no-debugger": "error",
    "no-unused-vars": 0
  }
}
