# build
dist/
build/
lib/
esm/
coverage/
types/

# dependencies
node_modules/

# configs
.commitlintrc.cjs
.eslintrc.cjs
.lintstagedrc.mjs
babel.config.mjs
rollup.config.mjs
vite.config.mjs
vite.config.js
jest.unit.config.js
jest.visual.config.js

# large packages
packages/g-devtool/
packages/g-webgpu-compiler/
packages/site/

# tests
__tests__/
scripts/

# docs
site/

# others
*.min.js
gui.min.js
