.lil-gui.root {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: black;
}

.lil-gui.main li {
  margin-left: 0 !important;
  padding-left: 0 !important;
  list-style-type: none !important;
}

.lil-gui li.title {
  padding-left: 16px !important;
}

.lil-gui .c select {
  color: black;
}
